body {
    background-color: #242424;
    color: #f0f0f0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.landing-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #242424;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 120px;
    margin-right: 0px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #f0f0f0;
}

.search-container {
    height: 30px;
    display: flex;
    align-items: center;
}

.region-select {
    padding: 5px;
    margin-right: 10px;
    background-color: #333;
    border-radius: 5px;
    height: 30px;
    border: 1px solid lightgrey;

}

.search-box {
    height: 40px;
    border-radius: 5px;
}

.search-input {
    height: 25px;
    width: 200px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.search-button {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.refresh-button {
    height: 30px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
